server:
  port: 8082

spring:
  application:
    name: driver-service
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379